.email {
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid;
}

.drawer-emails .email:first-child {
    margin-top: 0px
}

.drawer-emails .email:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.email .subject {
    font-family: inherit;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

.email .header-email {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.email .header-email .username {
    display: flex;
}

.email .header-email .user-avatar-circle {
    margin-right: 10px;
}

.email .username .username-from {
    font-weight: 500;
    font-size: 16px;
    margin-top: -5px;
}

.email .username .username-to {
    font-size: .75rem;
    letter-spacing: .3px;
    color: #5f6368;
    line-height: 20px;
}

.email .username-list {
    margin-left: 5px;
}

.email .time {
    color: #5f6368;
    font-size: 11px;
    line-height: 20px;
    margin-left: 5px;
}

.email .body {
    margin-top: 20px;
}

.email .attachment {
    margin-top: 20px;
}