.emails .container-subject {
    display: flex;
    justify-content: space-between;
}

.emails .info .bog {
    color: #353433;
    font-weight: 700;
}

.emails .attachment {
    margin-top: 10px;
}

.emails .result {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14pt;
    color: #666666;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.emails .container-to {
    display: flex;
    justify-content: space-between;
}

.isSelected {
    background-color: #f6f8fa;
    font-style: italic;
}

.emails .ant-table-row {
    cursor: pointer;
}

.emails .ant-table-row:hover {
    color: #0033dd;
    fill: #0033dd;
}

.emails .icon-clip {
    height: 15px;
    width: 15px;
}

.sp-icon {
    height: 36px;
    width: 36px;
}

.tdIcon {
    display: none;
}

.emails-container, .email-header {
    display: grid;
    margin: auto;
    grid-template-columns: 1.5fr 2fr 5fr 15px .8fr;
    grid-gap: 1em;
    padding: 1em;
    border-bottom: 1px solid #ddd;
}

.email-header {
    background: #f5f5f5;
}

.emails-container .row {
    display: contents;
    height: 100%;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.emails-container .tdTo {
    display: flex;
    justify-content: space-between;
}

.emails-container:hover>div {
    color: #1890ff;
    fill: #1890ff;
    cursor: pointer;
}

.email-header .email-header-item {
    font-weight: 600;
    font-size: 12pt;
    color: #716b69;
    cursor: pointer;
}

.emails-container .tag {
    background: #888888;
    color: #ffffff;
    font-weight: 600;
    padding: 1px 7px;
    border-radius: 5px;
}

.thAttachment {
    visibility: hidden;
}

@media (max-width: 758px) {
    .email-header {
        grid-template-columns: 70px 60px 80px 70px;
    }
    .emails-container {
        grid-template-columns: 1fr 3fr 4fr 15px 4fr;
    }
    .emails-container {
        grid-gap: 0.3em;
    }
    .thDate {
        grid-area: 1 / 4 / 2 / 5
    }
    .thAttachment {
        display: none;
    }
    .grid-header>div {
        text-align: center;
    }
    .tdFrom {
        grid-area: 1 / 2 / 2 / 4;
    }
    .tdTo {
        grid-area: 2 / 2 / 3 / 6;
        padding-right: .5em;
    }
    .tdSubject {
        grid-area: 3 / 1 / 4 / 6;
    }
    .tdAttachment {
        grid-area: 1 / 4 / 2 / 5;
    }
    .tdDate {
        grid-area: 1 / 5 / 2 / 7;
        text-align: right;
    }
    .tdIcon {
        display: inline-block;
        margin-top: .6rem;
        grid-area: 1 / 1 / 3 / 1
    }
    #rightIcon {
        display: inline-block;
    }
    .language, .attachment {
        display: none;
    }
    .thFrom, .thTo, .thSubject {
        border-right: 1px solid #737da6;
    }
    .drawer-emails {
        z-index: -100 !important;
    }
    .ant-drawer-open {
        width: 100% !important;
        z-index: 1000 !important;
    }
}